.box {
    position: relative;
    width: 100px;
    height: 100px;
    background: lightcoral;
    /*transition-property: left;*/
    transition-duration: 300ms;
}

.outer:hover .box {
    transform: rotate(45deg);
    top: 10%;
    left: 10%;
}

.transitioned {
    transform: rotate(45deg);
    top: 10%;
    left: 10%;
}
